<div class="header-main">
    <div class="header-box">
        <img class="logo-img" src="assets\img\icons\logo.png" alt="logo">
        <div class="lan-switcher-animation">
            <div id="lanSwitcherMain" [ngStyle]="{ top: settingsService.isNavOpen ? '0' : '-100dvh' }"
                class="lan-switcher-main">
                <div id="lenSwitcherEn" [class.lan-active]="settingsService.currentLang==='en'" class="lan-switcher"
                    (click)="onClickLenSwitcher()">EN</div>
                <div id="lenSwitcherDe" [class.lan-active]="settingsService.currentLang==='de'" class="lan-switcher"
                    (click)="onClickLenSwitcher()">DE</div>
            </div>
        </div>
        <img id="burgerMenu" (click)="onClickBurgerMenu()" src="assets\img\icons\burgerMenu.png" alt="burger menu">
    </div>
</div>
<div class="app-nav-box">
    <app-nav></app-nav>
</div>