<div class="header-main">
    <img src="assets\img\icons\logo.png" alt="logo">
    <div class="lan-switcher-animation">
        <div id="lanSwitcherMain" class="lan-switcher-main">
            <div id="lenSwitcherEn" class="lan-switcher lan-active" (click)="onClickLenSwitcher()">EN</div>
            <div id="lenSwitcherDe" class="lan-switcher" (click)="onClickLenSwitcher()">DE</div>
        </div>
    </div>
    <img id="burgerMenu" (click)="onClickBurgerMenu()" src="assets\img\icons\burgerMenu.png" alt="burger menu">
</div>
<app-nav [isNavOpen]="(true)"></app-nav>