<div class="about-main">
    <div class="about-top">
        <h2>{{ this.txtService.txtAbout.title[currentLang] }}</h2>
        <div>{{ this.txtService.txtAbout.text[currentLang] }}</div>
        <div class="summary">
            <div class="sum-item"><img src="assets/img/icons/house.png" alt="house">{{
                this.txtService.txtAbout.basedIn[currentLang] }}</div>
            <div class="sum-item"><img src="assets/img/icons/laptop.png" alt="laptop">{{
                this.txtService.txtAbout.wayOfWorking[currentLang] }}</div>
        </div>
        <button>{{ this.txtService.txtAbout.btnTxt[currentLang] }}</button>
    </div>
    <div class="about-bottom image-container">
        <img src="../../assets/img/profile.jpg" alt="profile">
    </div>
</div>