@use '../../shared/models/styleVariables.scss' as *;

section{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills-main {
    max-width: $maxWidthDesktop;
    padding: 0 $paddingSide;
}

.skills-container{
    width: 100%;
    border: 4px solid $colorPrimary;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;

    padding: 63px 16px;

    position: relative;

    p{
        font-family: 'Overpass', sans-serif;
        margin: 0;
    }
}   


.title {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        background-color: $colorBackground;
        padding: 0 24px;
    }
}

.skills{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.skill-item{
    width: 80px;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    text-align: center;

    p{
        font-weight: 700;
        font-size: 16px;
    }

    &:hover{
        color: $colorHighlight;

        img {
            animation: rotate 0.300s forwards;
        }
    }
}

.call-to-action-box{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    p{
        font-weight: 400;
        font-size: 20px;
    }
}

.action-txt{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 4px;

    text-align: start;

    .click-txt{
        color: $colorHighlight;
    }
}

@keyframes rotate {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(50px) scale(0.9);
    }
    50% {
        transform: translateX(0) scale(0.8);
    }
    75% {
        transform: translateX(-50px) scale(0.9);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}

@media (min-width:720px){
    .skills-main {
        padding: 0 $paddingSideDesktop;
    }

    .skills-container {
        padding: 120px 0;
    }

    .skills{
        gap: 78px;
    }

    .action-txt{
        flex-direction: row;
    }
}