.next-main{
    width: 100%;

    padding: 32px 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    img{
        width: 240px;
        height: auto;
    }
}

.next-main-odd{
    justify-content: flex-start;
}