<section>
    <div class="hero-main">
        <div class="hero-top">
            <h1>{{ this.txtService.txtHero.mainTitle[currentLang] }}</h1>
            <span class="hero-subtitle">
                <div class="subtitle-line"></div>
                <div class="developer-txt">{{ this.txtService.txtHero.developer[currentLang] }}</div>
            </span>
        </div>
        <div class="hero-bottom">
            <div class="mail-box">
                <div class="mail-transform">connect&#64;marius-winterscheid.de</div>
            </div>
            <div class="call-to-action-box">
                <div class="arrow-animation">
                    <div class="arrow"><img src="assets/img/icons/arrowDown.png" alt="arrowDown"></div>
                </div>
                <p>{{ this.txtService.txtHero.callToAction[currentLang] }}</p>
            </div>
        </div>
    </div>
</section>