@use '../shared/models/styleVariables.scss' as *;

.contact-main {
    padding: 0 $paddingMainSite;
    padding-top: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    color: $colorBackground;
    border: 1px solid red;

    position: relative;
    overflow: hidden;
}

.bg{
    width: 200%;
    height: 200%;

    position: absolute;
    top: 0;
    left: 0;
    background-color: $colorPrimary;
    z-index: -1;

    transform: rotate(4deg);
    transform-origin: top left;
    
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 28px;

    input,
    textarea {
        width: 100%;
        height: 40px;

        text-decoration: none;
        background-color: transparent;

        border: none;
        border-bottom: 2px solid $colorBackground;
    }

    textarea{
        height: 200px;
    }
}