@use '../shared/models/styleVariables.scss' as *;

.contact-main {
    padding-top: 80px;    

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    color: $colorBackground;
    position: relative;
    overflow: hidden;
}

.title {
    width: 100%;

    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 45px;
}

.bg {
    width: 200%;
    height: 200%;

    position: absolute;
    top: 0;
    left: 0;
    background-color: $colorPrimary;
    z-index: -1;

    transform: rotate(4deg);
    transform-origin: top left;

}

.form-main {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .form-header {
        font-family: 'Overpass', serif;
        font-size: 32px;
        font-weight: 700;
        color: $colorHighlight;
    }

    .contact-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        .form-group {
            width: 100%;

            position: relative;

            padding-top: 20px;
            margin-bottom: 10px;

            font-family: 'Overpass', serif;
            font-size: 16px;
            font-weight: 400;

            &.checkbox {
                display: flex;
                align-items: center;
                gap: 10px;

                margin-bottom: 34px;

                input[type="checkbox"] {
                    width: auto;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    appearance: none;
                    background-color: $colorBackground;
                    border: 2px solid $colorPrimary;
                    border-radius: 4px;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    position: relative;

                    &:checked {
                        background-color: $colorHighlight;
                        border-color: $colorHighlight;
                    }

                    &:checked::after {
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: 6px;
                        width: 6px;
                        height: 10px;
                        border: solid $colorBackground;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }

                    .fieldErrorMsg {
                        font-size: 12px;
                        font-weight: 400;
                        color: $colorError;
                        position: absolute;
                        left: 0;
                        top: calc(100% + 10px);
                        opacity: 1;
                        transition: all 0.125s ease-in-out;
                    }
                }
            }


            .placeholder {
                position: absolute;
                left: 20px;
                top: calc(50% + 10px);
                transform: translateY(-50%);
                transition: all 0.125s ease-in-out;
            }

            input,
            textarea {
                width: 100%;

                font-family: 'Overpass', serif;
                font-size: 16px;
                font-weight: 400;

                border: none;
                border-bottom: 2px solid $colorBackground;
                appearance: none;
                background: transparent;
                padding: 15px 25px;

                color: $colorBackground;
                outline: none;

                &:hover {
                    border: 4px solid $colorBackground;
                }

                &:valid,
                &:focus {
                    border: 2px solid $colorBackground;
                }

                &:valid+.placeholder,
                &:focus+.placeholder {
                    top: 20px;
                    background-color: $colorPrimary;
                }
            }

            input {
                height: 50px;
            }

            textarea {
                height: 202px;
                resize: none;
            }

            .fieldErrorMsg {
                font-size: 12px;
                font-weight: 400;
                color: $colorError;

                position: absolute;
                left: 0px;
                top: calc(100% + 10px);

                opacity: 1;
                transition: all 0.125s ease-in-out;
            }

            .fieldImg {
                position: absolute;
                right: 25px;
                top: calc(50% + 10px);
                transform: translateY(-50%);

                opacity: 1;
                transition: all 0.125s ease-in-out;
            }

            .txtAreaPlace {
                top: 45px;
            }

            span {
                font-family: 'Overpass', serif;
                font-size: 14px;
                font-weight: 400;
                color: $colorBackground;
            }
        }
    }
}

.footer {
    width: 100%;
    padding: $paddingMainSite 0;
}

@media(min-width: 720px){
    .contact-main{
        padding: 0 $paddingMainSite;
        padding-top: 80px;
    }
}