$colorBackground: #FFFCF3;
$colorPrimary: #000000;
$colorHighlight: #00BC8F;
$colorError: #E61C40;
$colorInactive: #BBBBBB;

$colorHighlight2: #4B47FF;
$colorHighlight3: #FF9900;

$paddingSide: 25px;
$paddingSideDesktop: 100px;

$maxWidthDesktop: 1440px;