<app-hero id="hero"></app-hero>
<app-about id="about" style="scroll-margin-top: 200px;"></app-about>
<app-next [isOdd]="false"></app-next>
<app-skills id="skills" style="scroll-margin-top: 200px;"></app-skills>
<app-next [isOdd]="true"></app-next>
<app-portfolio id="portfolio" style="scroll-margin-top: 200px;"></app-portfolio>
<app-next [isOdd]="false"></app-next>
<app-references></app-references>
<app-next [isOdd]="true"></app-next>
<app-contact id="contact" style="scroll-margin-top: 200px;"></app-contact>