<div class="skills-main">
    <div class="skills-container">
        <div class="title">
            <h2>{{ this.txtService.txtSkills.title[currentLang] }}</h2>
        </div>
        <div class="skills">
            @for (skill of skills; track $index) {
            <div class="skill-item">
                <img [src]="'assets/img/icons/skills/' + skill.icon" alt="{{ skill.title }}" />
                <p>{{ skill.title }}</p>
            </div>
            }
        </div>
        <div class="call-to-action-box">
            <img src="assets/img/icons/learning.png" alt="learning symbol">
            <div class="action-txt">
                <p>{{ this.txtService.txtSkills.text1[currentLang] }}</p>
                <p class="click-txt">{{ this.txtService.txtSkills.text2[currentLang] }}</p>
                <p>{{ this.txtService.txtSkills.text3[currentLang] }}</p>
            </div>
        </div>
    </div>
</div>