@use '../shared/models/styleVariables.scss' as *;

.portfolio-main {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;

    padding: 0 $paddingMainSite;

    p {
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }
}

.projects-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;

    p {
        width: 100%;
        margin: 0;

        font-family: 'Syne', sans-serif;
        font-weight: 700;
        font-size: 23px;
    }
}

.p-odd{
    text-align: end;
}

.project-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 16px;

    &:hover .portfolio-img {
        filter: grayscale(0%);
    }

    &:hover .arrow-circle {
        transform: translateY(-50%) rotate(0deg) scale(1);
        opacity: 1;
    }

    &:hover .arrow-circle-odd {
        transform: translateY(-50%) rotate(270deg) scale(1);
        opacity: 1;
    }

    &:hover .image-container::after {
        top: 10px;
        left: 10px;
        opacity: 1;
    }

    .arrow-circle {
        position: absolute;
        top: 50%;
        right: -35px;

        display: flex;
        align-items: center;
        justify-content: center;

        transform: translateY(-50%) rotate(90deg) scale(0.8);
        transform-origin: center;
        transition: all 0.125s ease-in-out;

        opacity: 0;
        z-index: 1;

        img {
            width: 40px;
            height: auto;
        }
    }

    .arrow-circle-odd {
        left: calc(-100% - 35px);
        transform: translateY(-50%) rotate(180deg) scale(0.8);
    }
}

.project-img {
    width: 100%;

    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    .portfolio-img {
        width: 100%;
        
        display: flex;
        filter: grayscale(100%);
    }

    img {
        width: 100%;
        height: auto;
    }
}

.project-img-odd {
    align-items: flex-end;
    text-align: right;
}

.project-txt-box {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    gap: 15px;

    .project-skillset {
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: $colorHighlight;
    }

    .project-txt {
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
}

.project-txt-box-odd {
    align-items: flex-end;
    text-align: right;
}

@media (min-width:720px) {
    .portfolio-main {
        padding: 0;
    }

    p {
        font-size: 22px !important;
    }

    .project {
        flex-direction: row;
        justify-content: flex-start;
        gap: 80px;
        position: relative;

        &:hover .project-txt-box {
            transform: translateX(140%);
            opacity: 1;
        }

        &:hover .project-txt-box-odd {
            transform: translateX(0)
        }
    }

    .project-txt-box-odd{
        transform: translateX(140%);
    }

    .project-img {
        width: 50%;
    }

    .project-odd {
        flex-direction: row-reverse;
    }

    .project-skillset {
        font-size: 23px;
    }

    .arrow-circle {
        right: -52.5px !important;
        img {
            width: 75px !important;
        }
    }

    .project-txt-box {
        width: 40%;
        opacity: 1;
        z-index: -1;
        position: absolute;
        left: 0;
        transition: all 125ms ease-in-out;
    }
}