<div class="portfolio-main">
    <h2>{{ this.txtService.txtPortfolio.title[settingsService.currentLang] }}</h2>
    <p>{{ this.txtService.txtPortfolio.disclaimer[settingsService.currentLang] }}</p>
    <div class="projects-box">
        @for (project of projects; track $index) {
            <div class="project">
                <div class="project-img" [ngClass]="{'project-img-odd': $index % 2 === 1 }">
                    <p>{{ $index + 1 }} / {{ projects.length }}</p>
                    <img [src]="'../../assets/img/projects/' + project.img" alt="{{project.img}}">
                </div>
                <div class="project-txt-box" [ngClass]="{'project-txt-box-odd': $index % 2 === 1 }">
                    <div class="project-header">
                        <h3>{{ project.title }}</h3>
                    </div>
                    <div class="project-skillset">{{ project.skillset }}</div>
                    <div class="project-txt">{{ project.description[settingsService.currentLang] }}</div>
                </div>
            </div>
        }
    </div>
</div>