<div class="apps-main">
    <app-header></app-header>
    <app-hero></app-hero>
    <app-about id="about"></app-about>
    <app-next [isOdd]="false"></app-next>
    <app-skills id="skills"></app-skills>
    <app-next [isOdd]="true"></app-next>
    <app-portfolio id="portfolio"></app-portfolio>
    <app-next [isOdd]="false"></app-next>
    <app-references></app-references>
    <app-next [isOdd]="true"></app-next>
    <app-contact id="contact"></app-contact>
    <app-legal></app-legal>
</div>

<router-outlet></router-outlet>