@use '../../../shared/models/styleVariables.scss' as *;

section {
    width: 100%;

    position: relative;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: $colorBackground;

}

.footer-main {
    width: 100%;
    max-width: $maxWidthDesktop;

    padding: 24px $paddingSide;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 28px;

    position: relative;
}

.footer-arrowUp {
    display: none;
}

.icons {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 30px;
        width: auto;
    }
}

.footer-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 28px;
}

.legal-note {
    &:hover {
        cursor: pointer;
    }
}

.desktop {
    display: none;
}

.mobile {
    display: flex;
}

.bg-main {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.bg-top {
    width: 100%;
    height: 80px;

    position: relative;

    background-color: $colorPrimary;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-top-square {
    width: 200dvw;
    height: 200dvh;

    position: absolute;
    bottom: 0;

    background-color: $colorBackground;

    transform: rotate(4deg);
    transform-origin: bottom center;
}

.bg-square {
    flex: 1;
    width: 100%;

    position: relative;
    z-index: -1;

    background-color: $colorPrimary;
}

.bg-sqaure-fill {
    width: 100%;
    height: 100%;

    position: absolute;
    top: -50%;
    z-index: -1;

    background-color: $colorPrimary;
}

.placeholder {
    width: 100%;
    height: 100px;
}

@media (min-width: 720px) {
    .placeholder {
        width: 100%;
        height: 280px;
    }

    .desktop {
        display: flex;
    }

    .mobile {
        display: none;
    }

    .footer-main {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 30px $paddingSideDesktop;
    }

    .footer-arrowUp {
        display: block;
        position: absolute;
        top: -100px;

        &:hover {
            cursor: pointer;
        }
    }

    .logo {
        justify-content: flex-start;
    }

    .footer-icons-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: flex-end;
        gap: 28px;
    }
}