<section>
    <div class="footer-main">
        <div class="footer-icons-container">
            <div class="footer-arrowUp" (click)="scrollToId('hero')">
                <img src="../../../../assets/img/icons/footer/arrowUp1.png" alt="arrowUp">
            </div>
            <div class="icons">
                <a href="https://github.com/MariusWinterscheid" target="_blank">
                    <img src="../../assets/img/icons/footer/git.png" alt="gitHub">
                </a>
                <a href="{{ this.txtService.txtFooter.mailTo[currentLang] }}" class="mail" target="_blank">
                    <img src="../../assets/img/icons/footer/mail.png" alt="mail">
                </a>
                <a href="https://www.linkedin.com/in/marius-winterscheid-185b33345/" target="_blank">
                    <img src="../../assets/img/icons/footer/linkedIn.png" alt="linkedIn">
                </a>
            </div>
            <div class="legal-note desktop" (click)="openLegal()">Legal notice</div>
        </div>

        <div class="footer-logo-container">
            <a class="logo" href="#"><img src="../../assets/img/icons/logoWhite.png" alt="logo white"></a>
            <div class="mobile">connect&#64;marius-winterscheid.de</div>
            <div class="desktop">&copy; Marius Winterscheid 2025</div>
        </div>

        <div class="legal-note mobile" (click)="openLegal()">Legal notice</div>
    </div>
</section>