@use '../../shared/models/styleVariables.scss' as *;

section {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-main {
    max-width: $maxWidthDesktop;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;

    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 20px;

    padding: 0 $paddingSide;

    margin-top: 50px;

    .about-top {
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
    }

    .about-bottom {
        max-width: 560px;

        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
    }
}

.summary {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 20px;

    .sum-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        img {
            width: 30px;
            height: auto;
        }
    }
}

.image-container.show::after {
    top: 10px;
    left: 10px;
    opacity: 1;
}

@media (min-width:720px) {
    .about-main {
        width: 100%;
        padding: 0;
        padding: 0 $paddingSideDesktop;

        flex-direction: row;
        font-size: 22px !important;

        margin-top: 160px;
    }
}