<section>
    <div class="contact-main">
        <div class="bg"></div>
        <div class="title">{{ this.txtService.txtContact.title[currentLang] }}</div>
        <div class="form-main">
            <p class="form-header">{{ this.txtService.txtContact.disclaimer[currentLang] }}</p>
            <span>{{ this.txtService.txtContact.text[currentLang] }}</span>
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contact-form">
                <div class="form-group">
                    <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" required>
                    <label for="name" class="placeholder">{{
                        this.txtService.txtContact.inputName[currentLang] }}</label>

                    @if(!name.valid && name.touched){
                    <label for="name" class="fieldErrorMsg">{{ this.txtService.txtContact.errName[currentLang]
                        }}</label>
                    <img class="fieldImg" src="../../assets/img/icons/form/error.png" alt="feedback">
                    }
                    @if(name.valid && name.touched){
                    <img class="fieldImg" src="../../assets/img/icons/form/correct.png" alt="feedback">
                    }
                </div>
                <div class="form-group">
                    <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                        required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    <label for="email" class="placeholder">{{
                        this.txtService.txtContact.inputMail[currentLang] }}</label>

                    @if(!email.valid && email.touched){
                    <label for="name" class="fieldErrorMsg">{{ this.txtService.txtContact.errMail[currentLang]
                        }}</label>
                    <img class="fieldImg" src="../../assets/img/icons/form/error.png" alt="feedback">
                    }
                    @if(email.valid && email.touched){
                    <img class="fieldImg" src="../../assets/img/icons/form/correct.png" alt="feedback">
                    }
                </div>
                <div class="form-group">
                    <textarea #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message" rows="5"
                        required></textarea>
                    <label for="message" class="placeholder txtAreaPlace">{{
                        this.txtService.txtContact.inputMsg[currentLang] }}</label>

                    @if(!message.valid && message.touched){
                    <label for="name" class="fieldErrorMsg">{{ this.txtService.txtContact.errMsg[currentLang] }}</label>
                    <img class="fieldImg" src="../../assets/img/icons/form/error.png" alt="feedback">
                    }

                    @if(message.valid && message.touched){
                    <img class="fieldImg" src="../../assets/img/icons/form/correct.png" alt="feedback">
                    }
                </div>
                <div class="form-group checkbox">
                    <input #policyCkecked="ngModel" [(ngModel)]="contactData.policyCkecked" type="checkbox" id="policy"
                        name="policy" required checked>
                    <span>{{ this.txtService.txtContact.policy1[currentLang] }}<a class="privacy-link"
                            (click)="onClickPrivacyLink()">{{
                            this.txtService.txtContact.policy2[currentLang] }}</a>{{
                        this.txtService.txtContact.policy3[currentLang] }}</span>
                    @if(!policyCkecked.valid && policyCkecked.touched){
                    <label for="policy" class="fieldErrorMsg">{{ this.txtService.txtContact.errPolicy[currentLang]
                        }}</label>
                    }
                </div>
                <button class="btn-light" type="submit" [ngClass]="{'btn-active': contactForm.valid}">Send
                    message</button>
            </form>
        </div>
        <app-footer style="width: 100%;"></app-footer>
    </div>
</section>