@use '../../models/styleVariables.scss' as *;

.privacy-main {
    width: 100%;


    padding: 32px $paddingSide;

    display: flex;
    align-items: center;
    text-align: start;
    justify-content: center;
    flex-direction: column;
    gap: 32px;

    >* {
        max-width: $maxWidthDesktop;
    }
}

p {
    margin: 0;
    font-family: overpass, sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    letter-spacing: 0%;

    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    line-height: 1.6;

    @media (max-width: 990px) {
      word-break: break-all;
      font-size: 0.95rem;
    }
}

h2{
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    line-height: 1.6;

    @media (max-width: 990px) {
      word-break: break-all;
      font-size: 0.95rem;
    }
}

h3 {
    font-family: overpass, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0%;
    color: $colorHighlight;
}

span {
    color: $colorHighlight;
}

@media (min-width:720px) {
    .privacy-main {
        padding: 64px $paddingSideDesktop;
    }
}

@media (max-width:1070px){
    h2{
        font-size: 56px!important;
    }
}