@use '../../../shared/models/styleVariables.scss' as *;

.legal-main {
    width: 100dvw;
    height: 100dvh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: none;
    align-items: center;
    justify-content: center;

    background-color: rgba($color: $colorInactive, $alpha: 0.8);

    transition: all 0.5s ease-in-out;

    text-align: start;
}

a {
    color: $colorHighlight;
}

.active {
    display: flex;
}

.notice-container {
    height: 100dvh;

    max-width: $maxWidthDesktop;
    padding: $paddingSide;

    background-color: $colorBackground;

    overflow: scroll;
    overflow-x: hidden;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $colorHighlight;
    border-radius: 10px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $colorHighlight;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* Firefox scrollbar (limited support) */
* {
    scrollbar-width: thin;
    scrollbar-color: $colorHighlight transparent; // statt $colorBackground
}

@media (min-width: $maxWidthDesktop) {
    .notice-container {
        height: 80%;
    }
}