@import './app/shared/models/styleVariables.scss';

@font-face {
    font-family: "Syne";
    src: url("assets/fonts/syne/Syne-VariableFont_wght.ttf") format("trueType");
}

@font-face {
    font-family: "Overpass";
    src: url("assets/fonts/overpass/Overpass-VariableFont_wght.ttf") format("trueType");
}

body {
    margin: 0;

    scroll-behavior: smooth;

    font-family: "Syne", sans-serif;

    background-color: $colorBackground;

    position: relative;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/* main title on hero page */
h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 45px;
}

/* main title on components */
h2 {
    font-weight: 800;
    font-size: 36px;
    text-align: center;
}

/* sub title on components */
h3 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 32px;
}

/* nav */
h4 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

a {
    text-decoration: none;
    color: inherit;
}