@import 'assets/models/styleVariables.scss';

@font-face {
    font-family: "Syne";
    src: url("assets/fonts/syne/Syne-VariableFont_wght.ttf") format("trueType");
}

body {
    margin: 0;
    padding: 0 $paddingMainSite;

    font-family: "Syne", sans-serif;

    background-color: $colorBackground;  
}

h3{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}