@import './app/shared/models/styleVariables.scss';

@font-face {
    font-family: "Syne";
    src: url("assets/fonts/syne/Syne-VariableFont_wght.ttf") format("trueType");
}

@font-face {
    font-family: "Overpass";
    src: url("assets/fonts/overpass/Overpass-VariableFont_wght.ttf") format("trueType");
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("trueType");
}

body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Syne', sans-serif;
    background-color: $colorBackground;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover{
        cursor: default;
    }
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/* main title on hero page */
h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 45px;
}

/* main title on components */
h2 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 36px;
    text-align: center;

    &:hover {
        color: $colorHighlight;
        cursor: default;
    }
}

/* sub title on components */
h3 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 32px;
}

/* nav */
h4 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: 4px solid $colorPrimary;
    padding: 20px 60px;
    background-color: transparent;
    color: $colorPrimary;

    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 23px;

    transition: all 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        padding: 20px 80px;
        font-weight: 700;
    }
}

.btn-light {
    border-color: $colorBackground;
    color: $colorBackground;
    opacity: 50%;
}

.btn-active {
    opacity: 100%;
    border-color: $colorBackground;
    color: $colorBackground;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    transition: all 0.125s ease-in-out;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid black;
    transition: all 0.125s ease-in-out;
    opacity: 0;
}

.image-container:hover::after {
    top: 10px;
    left: 10px;
    opacity: 1;
}

@media (min-width:720px) {
    h1 {
        font-weight: 800;
        font-size: 128px;
    }

    h2 {
        font-weight: 800;
        font-size: 78px;
        text-align: center;
    }
    h3 {
        font-size: 45px;
    }
}