<div class="nav-main" [ngClass]="{ 'is-open': (isnavOpen) }">
    <div class="nav-items">
        @for (item of this.txtService.txtNav; track item.title) {
            <div class="nav-item">
                <h4 (click)="clickNavItem(item.id)">{{ item[currentLang] }}</h4>
            </div>
        }
    </div>
    <div class="nav-bottom">
        <div class="nav-bottom-txt">
            <h4>Say hi!</h4><a href="#" class="mail-link">winterscheid.edv&#64;gmail.com</a>
        </div>
        <div class="nav-bottom-icons">
            <img src="assets\img\icons\gutHubWhite.png" alt="git hub">
            <img src="assets\img\icons\mailWhite.png" alt="mail">
            <img src="assets\img\icons\linkedInWhite.png" alt="linked in">
        </div>
        <div class="nav-bottom-background"></div>
    </div>

</div>