@import '../../shared/models/styleVariables.scss';


.nav-main {
    width: 100dvw;
    height: 100dvh;

    position: fixed;
    top: 100dvh;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;

    transition: all 0.5s ease-in-out;    

    background-color: $colorBackground;
    z-index: 99;
}

.is-open{
    top: 0;
}

.nav-items {
    width: 100%;
    height: 100%;

    font-weight: 700;
    font-size: 45px;

    flex: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 35px;

    .nav-item{
        width: 60%;

        position: relative;

        padding: 24px 32px;

        display: flex;
        align-items: center;
        justify-content: center;

        h3{
            line-height: 100%;
            font-size: 45px;
        }

        &::before,
        &::after{
            content: '';
            position: absolute;

            border: 2px solid $colorPrimary;
            transition: all 0.125s ease-in-out;            
        }

        &::before{
            height: 40px;
            bottom: 0;
            left: 0;
        }

        &::after{
            width: 40px;
            bottom: 0;
            left: 0;
        }

        &:hover{
            cursor: pointer;
        }

        &:hover::before{
            height: 0px;
            opacity: 0;
        }

        &:hover::after{
            animation: raiseBorder 0.300s forwards;
        }
    }
}

.nav-bottom {
    flex: 1;

    width: 100dvw;

    position: relative;

    display: flex;
    flex-direction: column;

    color: $colorBackground;

    z-index: 99;

    h3 {
        font-weight: 800;
        font-size: 45px;
    }

    .nav-bottom-txt {
        flex: 1;

        padding: 0 $paddingMainSite;

        .mail-link{
            font-family: 'Overpass', sans-serif;
            font-weight: 300;
            font-size: 23px;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .nav-bottom-icons {
        flex: 1;

        padding: 0 $paddingMainSite;

        display: flex;
        justify-content: flex-end;
        gap: 42px;

        img {
            width: 40px;
            height: 40px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

.nav-bottom-background{
    width: 200dvw;
    height: 200dvh;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform: rotate(8deg) translateX(-50%);

    background-color: $colorPrimary;
    z-index: -1;
}

@keyframes raiseBorder {
    30% {
        width: 30%;
        left: 0;
    }
    100% {
        left: 70%;
        width: 30%;
        right: 0;
    }
}