<div class="nav-main" [ngClass]="{ 'is-open': isNavOpen }">
    <div class="nav-items">
        @for (item of txtNav; track item.title) {
            <div class="nav-item">
                <h3>{{ item[currentLang] }}</h3>
            </div>
        }
    </div>
    <div class="nav-bottom">
        <div class="nav-bottom-txt">
            <h3>Say hi!</h3><a href="#" class="mail-link">winterscheid.edv&#64;gmail.com</a>
        </div>
        <div class="nav-bottom-icons">
            <img src="assets\img\icons\gutHubWhite.png" alt="git hub">
            <img src="assets\img\icons\mailWhite.png" alt="mail">
            <img src="assets\img\icons\linkedInWhite.png" alt="linked in">
        </div>
        <div class="nav-bottom-background"></div>
    </div>

</div>